<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <!-- Suppress logback warnings -->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-40logger{40} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>serialthreads.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.serialthreads" level="debug" additivity="false">
    <appender-ref ref="file"/>
  </logger>

  <logger name="de.heiden.jem.components.clock.RealTimeSlowDown" level="info"/>
  <logger name="org.serialthreads.transformer.strategies.frequent3.MethodTransformer" level="error"/>

  <root level="warn">
    <appender-ref ref="console"/>
  </root>
</configuration>