<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Suppress initial logback messages. -->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-36.36logger{1} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>serialthreads.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-36.36logger{1} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.serialthreads" level="DEBUG" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <logger name="de.heiden.jem.components.clock.RealTimeSlowDown" level="INFO" />
  <logger name="org.serialthreads.transformer.strategies.frequent3.MethodTransformer" level="ERROR" />
  <logger name="de.heiden.jem.models.c64.components.cpu.CPU6510Debugger" level="DEBUG" />

  <root level="WARN">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
